@{
}

@model IEnumerable<string>

                
    <a class="nav-link text-white btn btn-primary mb-5" asp-area="" asp-controller="Home" asp-action="AddBowler">Add Bowler</a>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-bowlerTeam="" class="btn btn-outline-secondary nav-link mb-2">Home</a>

    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-teamName="@t" 
           class="btn nav-link mb-2 @(ViewBag.teamName == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>